<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital@1&family=Open+Sans+Condensed:ital,wght@1,300&family=Poppins:ital,wght@0,300;1,100;1,200&display=swap" rel="stylesheet">
    <title>Rawfood Kalculator</title>
</head>

<body>
    <div class="container-fluid">
        {% if request.session.logged_user %}
        <nav id="navbar" class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #ffff;">
            <!-- <div class="navbar-header">
                <a class="navbar-brand" href="#">RFC</a>
            </div> -->
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="#navbar">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link active" href="/">Home</a>
                    <a class="nav-item nav-link" href="/profile">Profile</a>
                    <a class="nav-item nav-link" href="">Helpful Links</a>
                    <a class="nav-item nav-link" href="">Forum</a>
                    <a class="nav-item nav-link" href="/logout">Logout</a>
                </div>
            </div>
        </nav>
        <hr>
        {% else %}
        <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #ffff;">
            <!-- <div class="navbar-header">
                <a class="navbar-brand" href="#">RFC</a>
            </div> -->
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="#navbar">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="/register">Register</a>
                    <a class="nav-item nav-link" href="login">Login</a>
                </div>
            </div>
        </nav>
        <hr>
        {% endif %}
        <main>
            <h2>Your Rawfood Kalculator</h2>
            <section class="home">
                <h3>Feed right. Treat right.</h3>
            </section>
            {% load staticfiles %}
            <div class="container">
                <div class="what">
                    <h4>What is "raw food"?</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut repudiandae, ipsum corrupti est a
                        consectetur provident sit asperiores rem, laborum molestiae! Nostrum quos consequuntur ab
                        cupiditate, voluptatibus exercitationem sit ipsam!Eveniet, sint libero fuga nostrum consequatur
                        delectus quaerat excepturi repellendus modi, animi temporibus voluptatum nemo ut tenetur
                        doloribus soluta ratione vitae quam natus incidunt dignissimos sed sapiente expedita maiores.
                        Voluptatibus!</p>
                </div>
                <div class="why">
                    <h4>Why you should feed raw</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos laboriosam labore sequi corrupti
                        soluta reiciendis aliquam ipsam, aperiam, ducimus officiis id, velit quae iusto error delectus?
                        Illo eos in molestias!Fugiat velit fugit recusandae aperiam magnam id, rem nobis minima eaque
                        nemo distinctio aut expedita quod eveniet! Quia reprehenderit, reiciendis corporis maxime
                        numquam sequi quod enim ratione quidem excepturi? Libero.</p>
                </div>
                <div class="benefits">
                    <h4>Benefits of feeding raw</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum dolores veniam culpa id
                        voluptate est totam non maiores. A amet sint facilis aut, tempore dolores laborum quis magni
                        ipsum quod?Nostrum earum architecto maiores nam, molestias tempore ipsa aut placeat asperiores
                        repudiandae, impedit quidem. Porro eaque debitis, cupiditate placeat animi, explicabo, saepe
                        ullam optio ut quasi dolor nihil? Sunt, corrupti.</p>
                </div>
            </div>
            <div class="bottomcontent">
                <img src="https://cdn.shopify.com/s/files/1/1602/8835/files/Benefits-of-a-raw-food-diet-for-dogs_1_large.jpg?v=1482790884" alt="Benefits of Raw">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, ratione corporis debitis at esse ad error, molestiae ut maxime itaque dolores possimus dolor deserunt? Quia velit odit voluptatibus voluptate amet. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat atque ad excepturi qui praesentium, autem laborum velit deleniti quisquam animi quibusdam necessitatibus asperiores nam natus aspernatur pariatur in, rerum eum?
                    Beatae eveniet unde et distinctio repellendus! Sed earum ad eligendi consectetur, dolores ab reprehenderit doloribus amet cupiditate consequatur. Sint quae incidunt distinctio veritatis libero voluptas dolorem mollitia culpa debitis. Et!
                    Commodi assumenda accusantium excepturi ullam ratione, voluptate illo dignissimos. Consequuntur atque ipsam eaque, nulla ullam, veniam facere ab distinctio consequatur provident numquam officiis excepturi, deleniti accusamus mollitia eligendi corrupti nostrum!</p>
            </div>
        </main>
        <footer>
            <div class="footer">
            <h6>Terms of Use</h6>
            <h6>Privacy and Cookies Statement</h6>
            <h6>Cookie Consent</h6>
            <h6>How the site works</h6>
            <h6>Contact</h6>
            </div>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>

</body>

</html>