<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalculator</title>
</head>
<body>
    <h1>Welcome to your raw food kalculator, {{user.username}}!</h1>
    <nav>
        <a href="/">Home</a>
        <a href="">Helpful Links</a>
        <a href="">Forum</a>
        <a href="/logout">Logout</a>
    </nav>

    <form action="/addpet" method="POST">
        <h3>Your bestfriends information</h3>
        {% csrf_token %}
            <label for="name">Name:</label>
            <input type="text" name="name">
            <br>
            <label for="breed">Breed:</label>
            <input type="text" name="breed">
            <br>
            <label for="birthdate">Birthdate:</label>
            <input type="date" name="birthdate" id="birthdate">
            <br>
            <label for="age">Age:</label>
            <input type="number" name="age" id="age">
            <br>
            <label for="fav_food">Current favorite food:</label>
            <input type="text" name="fav_food">
            <br>
            <h3>Your calculator</h3>
            <label for="curr_weight">Current weight:</label>
            <input type="number" name="curr_weight" id="curr_weight">
            <br>
            <label for="goal_weight">Goal weight:</label>
            <input type="number" name="goal_weight" id="goal_weight">
            <br>
            <label for="daily_feeding">How many times a day does your pet eat:</label>
            <input type="number" name="daily_feeding" id="daily_feeding">
            <br>
            <input type="submit" value="Calculate">
    </form>
</body>
</html>