<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Poppins:ital,wght@1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <title>Register</title>
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #ffff;">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">RFC</a>
            </div>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="#navbar">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/">Home</a>
                    <a class="nav-item nav-link active" href="/register">Register</a>
                    <a class="nav-item nav-link" href="login">Login</a>
                </div>
            </div>
        </nav>
        <h1>Your Rawfood Kalculator</h1>
        <div class="register">
            <h2>Create an Account</h3>
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <form action="/createaccount" method="POST">
                {% csrf_token %}
                <div class="mb-13">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" class="form-control">
                </div>
                <div class="mb-13">
                <label for="email" class="form-label">Email</label>
                <input type="text" name="email" class="form-control">
                </div>
                <div class="mb-13">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control">
                </div>
                <div class="mb-13">
                <label for="confirm" class="form-label">Confirm PW</label>
                <input type="password" name="confirm_password" class="form-control">
                </div>
                <br>
                <input type="submit" class="btn btn-primary" value="Register">
            </form>
            <p>Already have an account?</p>
            <a href="/login">Sign in</a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    
</body>

</html>