<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@500&family=Poppins:wght@100;200&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/updatepet.css' %}">
    <title>Kalculator</title>
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #ffff;">
            <!-- <a id="navbar" class="navbar-brand" href="#">NavBar</a> -->
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="#navbar">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link" href="/">Home</a>
                    <a class="nav-item nav-link active" href="/profile">Profile</a>
                    <a class="nav-item nav-link" href="">Helpful Links</a>
                    <a class="nav-item nav-link" href="">Forum</a>
                    <a class="nav-item nav-link" href="/logout">Logout</a>
                </div>
            </div>
        </nav>
        <hr>
        {% load crispy_forms_tags %}
        <a id="goback" href="/rawfoodkalculator/results/{{pet.id}}">Go back to {{pet.name}}'s profile</a>
        <h3 class="update">UPDATE YOUR PETS CHART</h3>
        <div class="form">
            <form action="/update/{{pet.id}}" method="POST">
                <h4>{{pet.name}} </h4>
                {% csrf_token %}
                {{secondPetForm|crispy}}
                <input type="submit" value="Re-calculate">
            </form>
        </div>
        <div class="chart">
            <div>
                <h6>Percentage suggestion for dogs</h6>
                <ul>
                    <li>1.5% - My dog could lose a few pounds</li>
                    <li>2% - My dog is an ideal weight</li>
                    <li>3% - My dog is an ideal weight but is active/have high energy</li>
                    <li>3% - My dog could gain a few pounds</li>
                    <li>5% - I have a puppy less than 1 year old</li>
                </ul>
                <h6>Percentage suggestion for cats</h6>
                <ul>
                    <li>2% - My cat could lose a few pounds</li>
                    <li>2.5% - My cat is an ideal weight</li>
                    <li>3% - My cat is an ideal weight but is active/have high energy</li>
                    <li>5% - I have a kitten less than 1 year old</li>
                </ul>
            </div>
            <h3>What shape is your pet?</h3>
            <h6>Body Condition Scoring Chart</h6>
            <img src="http://bowwowfuntowne.com/wp-content/uploads/2015/08/DogWeightChart.png" alt="Pet shape chart">
        </div>
    </div>
    <footer>
        <div class="footer">
        <h6>Terms of Use</h6>
        <h6>Privacy and Cookies Statement</h6>
        <h6>Cookie Consent</h6>
        <h6>How the site works</h6>
        <h6>Contact</h6>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>

</html>