body {
    width: 1400 px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    /* text-align: bottom;
    padding: 10px 0px 0px 30px;
    height: 280px;
    background-image: url("https://images.unsplash.com/photo-1597633611385-17238892d086?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover; */
}

.home {
    width: 100%;
    height: 550px;
    background-image: url(https://images.unsplash.com/photo-1597633611385-17238892d086?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
    background-position: bottom;
    background-size:cover;
    display: flex;
    justify-content: left;
}

.login {
    width: 25%;
    height: 350px;
    padding: 15px;
    margin: 10px;
    margin-left: 1000px;
    margin-top: 30px;
    padding-top: 25px;
    background-color: white;
    display: inline-block;
}

/* .container {
    display: flex;
    justify-content: space-between;
} */

.what, .why, .benefits {
    padding: 15px;
    text-align: center;
}

h4 {
    font-family: 'Open Sans Condensed', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
}

.noaccount a {
    display: inline-block;
}

