@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Oswald&family=Roboto+Condensed&family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
    width: 1400 px;
}

#navbar {
    padding: 10px !important;
}

.navbar a {
    margin-left: 60px;
    color: #235182 !important;
    font-family: 'Noto Serif KR', serif !important;
}

h2 {
    font-family: 'Squada One', cursive;
    font-size: 50px;
    color: #235182;
    /* text-align: bottom;
    padding: 10px 0px 0px 30px;
    height: 280px;
    background-image: url("https://images.unsplash.com/photo-1597633611385-17238892d086?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover; */
}

.home {
    width: 100%;
    height: 550px;
    background-image: url(https://images.unsplash.com/photo-1597633611385-17238892d086?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
    background-position: bottom;
    background-size:cover;
    display: flex;
    justify-content: left;
}

.login {
    width: 25%;
    height: 350px;
    padding: 15px;
    margin: 10px;
    margin-left: 1000px;
    margin-top: 30px;
    padding-top: 25px;
    background-color: white;
    display: inline-block;
    border-radius: 10px;
}
h5 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
/* .container {
    display: flex;
    justify-content: space-between;
} */

.what, .why, .benefits {
    padding: 15px;
    text-align: center;
}

h4 {
    font-family: 'Open Sans Condensed', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;    
}

label {
    font-family: 'Source Sans Pro', sans-serif;
}

.noaccount a {
    display: inline-block;
}

#button {
    margin-left: 255px;
    margin-top: 10px;
}

.noaccount a, .noaccount p {
    margin-top: 15px;
    line-height: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

footer {
    width: 100%;
    height: 150;
    background-color: #eddcd2;
}

.footer {
    display: inline-block;
    margin-left: 240px;
}
footer h6 {
    display: inline-block;
    padding: 20px;
    text-align: center;
    padding-left: 30px;
    text-decoration: underline;
    font-family: 'Newsreader', serif;
}