body {
    width: 1400 px;
}

#navbar {
    margin: 20px 10px 40px 0px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.form {
    display: inline-block;
    width: 45%;
    margin: 20px 20px 20px 60px;
    padding: 40px;
    background-color: #F6F6F6;
}

.form h5 {
    text-align: center;
}

.chart {
    display: inline-block;
    width: 35%;
    margin-left: 100px;
    margin-top: 100px;
    padding: 30px 0px;
    vertical-align: top;
}

h6 {
    font-family: 'Poppins', sans-serif;
    color: #5A6B7B;
}

li {
    font-family: 'Lato', sans-serif;
}