@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');

body {
    width: 1400 px;
}

#navbar {
    padding: 10px !important;
}

.navbar a {
    margin-left: 60px;
    color: #235182 !important;
    font-family: 'Noto Serif KR', serif !important;
}

#goback {
    margin-left: 60px;
    text-decoration: underline;
    color: #235182;;
}

.form {
    display: inline-block;
    width: 45%;
    margin: 20px 20px 20px 60px;
    padding: 40px;
    background-color: #F6F6F6;
}

.chart {
    display: inline-block;
    width: 35%;
    margin-left: 65px;
    margin-top: 40px;
    padding: 30px 0px;
    vertical-align: top;
}

h6 {
    font-family: 'Poppins', sans-serif;
    color: #5A6B7B;
}

.update {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

footer {
    margin-top: 30px;
    width: 100%;
    height: 150;
    background-color: #eddcd2;
}

.footer {
    display: inline-block;
    margin-left: 240px;
}
footer h6 {
    display: inline-block;
    padding: 20px;
    text-align: center;
    padding-left: 30px;
    text-decoration: underline;
    font-family: 'Newsreader', serif;
    color: black;
}